@media (max-width: 1440px) {
  #modal-2 .md-content form .labels {
    max-height: 336px;
    overflow-y: scroll;
  }
}

// 992px - 1199px
@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

@media (min-width: 768px) {

  .stats .module,
  .balls-mobile,
  .btn-mobile {
    display: none !important;
  }
}

@media (max-width: 991px) {

  #burger-menu {
    .df;
    .jb;
    .fc;
  }

  #modal-1 .md-content {
    padding: 20px;
  }

  #modal-1 .md-content form button {
    width: 100%;
  }

  .breadcrumbs {
    padding: 20px 0 20px;
  }

  //header
  header nav {
    display: none;
  }

  header .container .block .header-btns a:last-child {
    display: none;
  }

  header .container .block .header-btns {
    margin-left: auto;
  }

  //
  footer .container:last-child .footer-bottomnav ul li {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #071027;
  }
}

@media (min-width: 1200px) and (max-width: 1330px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec9 .container .cards {
    justify-content: unset;
  }

  .sec9 .container .cards .card {
    flex: 0 0 31%;
  }

  //sec2
  .sec2 .container .cards {
    gap: 19px;
    justify-content: unset;
  }

  .sec2 .container .cards .card {
    flex: 0 0 32%;
    max-width: unset;
  }

  .sec2 .container .cards .card .description .styleBtn-second,
  .sec2 .container .cards .card .description .styleBtn-first {
    width: 100%;
    justify-content: center;
  }

  //
  //sec5
  .sec5 {
    overflow-x: visible;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide {
    height: 250px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content {
    left: 20px;
    max-width: 50%;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content h2 {
    font-size: 26px;
    line-height: 100%;
  }

  //
}

@media (min-width: 992px) and (max-width: 1199px) {

  //28.06
  .sec18 .container .item .table .table-th span:first-child,
  .sec18 .container .item .table .table-line .line-item:first-child {
    width: 50%;
  }

  //28.06
  .container {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  body,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  //sec1
  .sec1 .container .title h1 {
    font-size: 34px;
  }

  //
  //sec2
  .sec2 .container .cards {
    gap: 19px;
    justify-content: unset;
  }

  .sec2 .container .cards .card {
    flex: 0 0 32%;
    max-width: unset;
    margin-bottom: 19px;
  }

  .sec2 .container .cards .card .description .styleBtn-second,
  .sec2 .container .cards .card .description .styleBtn-first {
    width: 100%;
    justify-content: center;
  }

  //
  //sec5
  .sec5 {
    overflow-x: visible;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide {
    height: 250px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content {
    left: 20px;
    max-width: 60%;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content h2 {
    font-size: 20px;
    line-height: 100%;
  }

  //
  .sec9 .container .cards {
    justify-content: unset;
  }

  .sec9 .container .cards .card {
    flex: 0 0 31%;
  }

  .sec10 .container .banner .content {
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1090px) {

  //sec8
  .sec8 {
    padding: 50px 0;
  }

  .sec8 .container .courses .item {
    width: 100%;
  }

  .sec8 .container .courses .item:last-child {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont {
    flex-direction: column;
    margin-left: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
    width: 100%;
    align-items: flex-start;
  }

  .sec8 .container .courses .item:first-child .stages .stage:first-child .stage-cont {
    border: 0;
  }

  .sec8 .container .courses .item:first-child {
    padding-right: 0;
  }

  .sec8 .container .courses {
    padding: 20px 15px;
  }

  .sec8 .container .courses .item:first-child .stages .stage {
    align-items: flex-start;
    padding: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    .stage-icon {
      margin-top: 20px;
    }
  }

  .sec8 .container .courses .item:first-child .stages {
    margin-top: 0;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont .stage-txt {
    margin-left: 0;
  }

  .sec8 .container .courses .item:first-child .title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
  }

  .sec8 .container .courses .item:first-child .title h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont a {
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    display: flex;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon {
    position: unset;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:before {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage:not(:last-child) .stage-icon:after {
    height: 55%;
    bottom: -13px;
    z-index: 1;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:after {
    height: 34%;
    bottom: -16px;
  }

  //
}

@media (min-width: 940px) and (max-width: 1090px) {
  .sec12 .container .text {
    margin-bottom: 25px;
  }

  .sec12 .container .items {
    justify-content: center;
  }

  .sec12 .container .items .item:nth-child(1) p {
    font-size: 20px;
    line-height: 30px;
  }

  .sec12 .container .items .item:nth-child(2) p {
    font-size: 20px;
    line-height: 30px;
  }

  .sec12 .container .items {
    gap: 40px 30px;
  }

  .sec12 .container .items .item:nth-child(1) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(2) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec14 .items {
    justify-content: unset;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .sec17 .container .items a .location {
    gap: 15px;
  }

  .sec12 .container .text {
    margin-bottom: 25px;
  }

  .sec12 .container .items {
    justify-content: center;
  }

  .sec12 .container .items .item:nth-child(1) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item:nth-child(2) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items {
    gap: 40px 30px;
  }

  .sec12 .container .items .item:nth-child(1) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(2) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item {
    flex: 1 0 31%;
    max-width: 335px;
  }

  .sec14 .items {
    gap: 60px 6%;
    max-width: 850px;
    margin: 0 auto;
    justify-content: unset;
  }

  .sec14 .items .item {
    flex: 0 0 47%;
  }

  .sec14 .items .item {
    max-width: 410px;
  }
}

// 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {

  //28.06
  .sec18 {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .sec18 .container .item-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    max-width: unset;
    border-top: 1px solid var(--black-line, #E1E1E1);
    padding: 10px 15px;

    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        text-align: center;
        color: var(--black-70, rgba(30, 31, 36, 0.70));
        text-align: center;
        font-size: 10px;
        font-family: 'Golos Text VF', sans-serif;
        line-height: 10px;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg {
            margin-right: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .sec18 .container {
    .item {
      .table {
        background: unset;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .table-name {
          background: transparent;
          padding: 0;
          border-bottom: 0;
        }

        .table-line {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 0;
          border-radius: 12px;
          padding: 15px 20px;

          .line-item {
            flex: 1 0 50%;
            padding: 0;
            gap: 20px 0;

            &:first-child {
              order: -1;
              flex: 0 0 70%;
            }

            &:nth-child(2) {

              p {
                width: unset;

                &:not(:last-child) {
                  margin-right: 5px;
                }
              }
            }

            &:last-child {
              flex: 0 0 25%;
              order: -1;
            }

            .line-title {
              color: var(--black-30, rgba(0, 0, 0, 0.30));
              font-size: 13px;
              line-height: 18px;
              font-family: 'Golos Text VF', sans-serif;
              margin-bottom: 5px;
            }

            p {
              width: 100%;
              padding: 0;
              color: var(--black-default, #071027);
              font-size: 13px;
              font-family: 'Golos Text VF', sans-serif;
              font-weight: 600;
              line-height: 18px;
            }

            &:nth-child(2) {
              margin-top: 15px;
              padding-top: 15px;
              border-top: 1px solid #E1E1E1;
              display: flex;
              width: unset;
            }
          }

        }

        .table-th {
          display: none !important;
        }
      }
    }

  }

  //28.06
  .container {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  body,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  //sec1
  .sec1 .container .title h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .sec1 .container .texts {
    max-width: 480px;
  }

  .sec1 .container .texts p {
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  //
  //sec2
  .sec2 .container .cards {
    justify-content: space-between;
  }

  .sec2 .container .cards .card {
    flex: 0 0 48%;
    max-width: unset;
  }

  .sec2 .container .cards .card .description .styleBtn-second,
  .sec2 .container .cards .card .description .styleBtn-first {
    width: 100%;
    justify-content: center;
  }

  //
  //sec3
  .sec3 {
    padding-bottom: 34px;
  }

  .sec3 .container .items .item .title {
    margin-top: 20px;
  }

  .sec3 .container .items .item .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .sec3 .container .items .item .item-content {
    margin-top: 20px;
  }

  .sec3 .container .items {
    gap: 20px;
  }

  .sec3 .container .items .item {
    width: 50%;
  }

  //
  //sec4
  .sec4 .container .sidebar {
    padding-left: 0;
    border: 0;
    margin-left: 0;
    max-width: unset;
  }

  .sec4 .container {
    flex-direction: column;
  }

  //
  //sec5
  .sec5 {
    overflow-x: visible;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide {
    height: 250px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content {
    left: 20px;
    max-width: 50%;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content h2 {
    font-size: 20px;
    line-height: 100%;
  }

  //
  //sec6
  .sec6 {
    padding: 50px 0;
  }

  .sec6 .container .title {
    margin-bottom: 20px;
  }

  .sec6 .container .txt p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec6 .container {
    flex-direction: column;
  }

  .sec6 .container .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .sec6 .container .title,
  .sec6 .container .txt {
    max-width: unset;
  }

  .sec7 {
    padding-bottom: 50px;
  }

  //
  //sec9
  .sec9 {
    padding: 50px 0;
  }

  .sec9 .container .cards .card {
    flex: 0 0 32%;
  }

  .sec9 .container .title h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec9 .container .cards {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    .card {
      padding: 20px;
    }
  }

  .sec9 .container .cards .card .content span {
    font-size: 16px;
    line-height: 20px;
  }

  .sec9 .container .cards .card .content p {
    font-size: 13px;
    line-height: 18px;
  }

  //
  .sec10 .container .banner .content {
    padding-right: 20px;
  }

  .sec10 .container .banner img {
    height: 300px;
    object-fit: cover;
    object-position: left;
    border-radius: 12px;
  }

  .sec13 .container .title .text p {
    font-size: 30px;
    line-height: 35px;
  }

  // sec12
  // .sec14 .items{
  //   justify-content: center;
  // }
  // .sec14 .items .item{
  //   flex: 1 0 31%;
  //   max-width: 410px;
  // }
  //footer
  footer .container .footer-topnav {
    max-width: 550px;
  }

  footer .container:last-child {
    flex-direction: column-reverse;
  }

  footer .container:last-child .footer-bottomnav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer .container:last-child span {
    margin-top: 30px;
  }

  //
}

@media (min-width: 1011px) {
  .sec17 .container .forma form .items button {
    flex: unset;
    max-width: unset;
    width: 24%;
    padding: 8px;
  }

  .sec17 .container .forma form .items .item {
    width: 24%;
  }

  .sec17 .container .forma form .items {
    gap: unset;
  }

  .sec17 .container .forma form .items .item .custom-select {
    min-width: unset;
  }
}

@media (min-width: 768px) and (max-width: 1010px) {
  .sec17 .container .forma form .items {
    gap: 10px 0;
  }

  .sec17 .container .forma form .items .item {
    width: 49%;
  }

  .sec17 .container .forma form .items button {
    flex: unset;
    max-width: unset;
    width: 49%;
  }

  .sec16 {
    margin-bottom: 25px;
  }

  .sec16 .container .text {
    flex-direction: column;
  }

  .sec16 .container .text span {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  //28.06
  .sec18 {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .sec18 .container .item-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    max-width: unset;
    border-top: 1px solid var(--black-line, #E1E1E1);
    padding: 10px 15px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        text-align: center;
        color: var(--black-70, rgba(30, 31, 36, 0.70));
        text-align: center;
        font-size: 10px;
        font-family: 'Golos Text VF', sans-serif;
        line-height: 10px;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg {
            margin-right: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .sec18 .container {
    flex-direction: column-reverse;
    gap: 25px;

    .item {
      .table {
        background: unset;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .table-name {
          background: transparent;
          padding: 0;
          border-bottom: 0;
        }

        .table-line {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 0;
          border-radius: 12px;
          padding: 15px 20px;

          .line-item {
            flex: 1 0 50%;
            padding: 0;
            gap: 20px 0;

            &:first-child {
              order: -1;
              flex: 0 0 70%;
            }

            &:nth-child(2) {

              p {
                width: unset;

                &:not(:last-child) {
                  margin-right: 5px;
                }
              }
            }

            &:last-child {
              flex: 0 0 25%;
              order: -1;
            }

            .line-title {
              color: var(--black-30, rgba(0, 0, 0, 0.30));
              font-size: 13px;
              line-height: 18px;
              font-family: 'Golos Text VF', sans-serif;
              margin-bottom: 5px;
            }

            p {
              width: 100%;
              padding: 0;
              color: var(--black-default, #071027);
              font-size: 13px;
              font-family: 'Golos Text VF', sans-serif;
              font-weight: 600;
              line-height: 18px;
            }

            &:nth-child(2) {
              margin-top: 15px;
              padding-top: 15px;
              border-top: 1px solid #E1E1E1;
              display: flex;
              width: unset;
            }
          }

        }

        .table-th {
          display: none !important;
        }
      }
    }

    .item-doc {
      max-width: unset;

      .doc-descr {
        display: flex;
        gap: 10px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          width: 1px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
        }

        .doc-stat {
          display: flex;
          gap: 10px;

          &:not(:last-of-type) {
            padding-bottom: 0;
            border-bottom: 0;
          }

          &:not(:first-of-type) {
            padding-top: 0;
          }

          p {
            display: flex;
            flex-direction: column;
            min-width: 160px;
            color: rgba(0, 0, 0, 0.50);
            font-size: 13px;
            font-family: 'Golos Text VF', sans-serif;
            line-height: 18px;
            border-radius: 5px;
            background: var(--white-background, #F4F4F8);
            padding: 10px;
          }
        }
      }

      .top-content {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #E1E1E1;
        margin-bottom: 15px;

        .doc-name {
          margin-bottom: 0;
        }

        .photo {
          width: 30px;
          height: 30px;
          margin: 0;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      a {
        display: none;
      }
    }
  }

  //28.06
  //sec1
  .sec1 .container {
    flex-direction: column;
  }

  .sec1 .container .title h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .sec1 .container .texts p {
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  //
  //sec2
  .sec2 .container .cards {
    justify-content: space-between;
  }

  .sec2 .container .cards .card {
    flex: 0 0 48%;
    max-width: unset;
  }

  .sec2 .container .cards .card .description .styleBtn-second,
  .sec2 .container .cards .card .description .styleBtn-first {
    width: 100%;
    justify-content: center;
  }

  //
  //sec3
  .sec3 {
    padding-bottom: 34px;
  }

  .sec3 .container .items {
    flex-direction: column-reverse;
  }

  .sec3 .container .items .item .title {
    margin-top: 20px;
  }

  .sec3 .container .items .item .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .sec3 .container .items .item .item-content {
    margin-top: 20px;
  }

  .sec3 .container .items .item .item-content a {
    max-width: unset;
  }

  .sec3 .container .items .item .photo {
    height: 300px;
  }

  .sec3 .container .items .item .item-content .info-course .info-course__item .info-content {
    font-size: 12px;
  }

  //
  //sec4
  .sec4 {
    padding-top: 50px;
  }

  .sec4 .container .main-content .title h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec4 .container .main-content .txt p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec4 .container .main-content .title {
    margin-bottom: 10px;
  }

  .sec4 .container {
    flex-direction: column;
  }

  .sec4 .container .sidebar {
    padding-left: 0;
    margin-left: 0;
    border: 0;
    max-width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line {
    flex-direction: column;
    height: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line:before {
    top: 23px;
    right: 19px;
    left: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line {
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    height: unset;
    align-items: flex-start;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats {
    max-width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats .balls {
    margin-right: 10px;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats .balls,
  .sec4 .container .courses .accordeon .accordeon__line .stats .time {
    font-size: 12px;
    line-height: 20px;
    width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line {
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title {
    width: 100%;
    align-items: flex-start;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .icon {
    min-width: 40px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .line-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .line-txt span {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #071027;
    margin-bottom: 10px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .stats {
    display: none;
  }

  .stats .module {
    margin-right: 10px;
  }

  .accordeon__line span .module {
    display: none;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .line-txt .btn-mobile {
    max-width: 50%;
  }

  //
  //sec5
  .sec5 {
    overflow-x: visible;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide {
    position: relative;

    img {
      max-height: 600px;
    }
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content {
    left: 0;
    top: 0;
    padding: 23px;
    max-width: unset;
    transform: unset;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content h2 {
    font-size: 39.5522px;
    line-height: 47px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content a {
    margin-top: 15px;
  }

  //
  //sec6
  .sec6 {
    padding: 50px 0;
  }

  .sec6 .container .title {
    margin-bottom: 20px;
  }

  .sec6 .container .txt p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec6 .container {
    flex-direction: column;
  }

  .sec6 .container .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  //
  .sec7 {
    padding-bottom: 50px;
  }

  //sec9
  .sec9 {
    padding: 50px 0;
  }

  .sec9 .container .cards .card {
    flex: 0 0 49%;
  }

  .sec9 .container .title h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec9 .container .cards {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    .card {
      padding: 20px;
    }
  }

  .sec9 .container .cards .card .content span {
    font-size: 16px;
    line-height: 20px;
  }

  .sec9 .container .cards .card .content p {
    font-size: 13px;
    line-height: 18px;
  }

  //
  .sec10 {
    overflow-x: visible;
    margin-bottom: 100px;
  }

  .sec10 .container .banner {
    max-height: unset;
    max-width: 520px;
    margin: 0 auto;
  }

  .sec10 .container .banner .content {
    position: unset;
    max-width: unset;
    transform: unset;
    width: unset;
    background: #53b5f5;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 20px 35px 20px;
  }

  .sec10 .container .banner .content span,
  .sec10 .container .banner .content p {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .sec10 .container .banner .content a {
    margin: 30px auto 0;
  }

  // sec16
  .sec16 {
    margin-bottom: 25px;
  }

  .sec16 .container .text {
    flex-direction: column;
  }

  .sec16 .container .text span {
    margin-bottom: 10px;
  }

  // sec17
  .sec17 .container {
    margin-top: 25px;
  }

  .sec17 .container .forma form .items .item .custom-select {
    min-width: 270px;
  }

  .sec17 .container .forma form .items button {
    width: 100%;
    padding: 8px;
    max-width: unset;
  }

  .sec17 form {
    width: 100%;
  }

  .sec17 form .items .item {
    width: 100%;
  }

  .sec17 .container .items a {
    flex-wrap: wrap;
  }

  .sec17 .container .items {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .sec17 .container .table {
    display: none;
  }

  .sec17 .container .items a .position {
    display: none;
  }

  .sec17 .container .items a .name {
    order: -1;
    max-width: 80%;
  }

  .sec17 .container .items a .name .supertitle {
    display: flex;
  }

  .sec17 .container .items a .location {
    flex-direction: column;
    padding-top: 15px;
    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
    gap: 10px;
    max-width: 100%;
  }

  .sec17 .container .items a .location .city {
    display: flex;
    max-width: 100%;
  }

  .sec17 .container .items a .location .city .supertitle {
    display: flex;
    width: 25%;
  }

  .sec17 .container .items a .location .mereza {
    display: flex;
    max-width: 100%;
  }

  .sec17 .container .items a .location .mereza .supertitle {
    display: flex;
    width: 25%;
  }

  .sec17 .container .items a .points {
    order: -1;
    max-width: 20%;
    text-align: end;
  }

  .sec17 .container .items a .points .supertitle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  //footer
  footer .container {
    flex-direction: column;
    border-top: 1px solid #e1e1e1;

    &:first-child {
      padding-top: 30px;
    }
  }

  footer .container .logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  footer .container .footer-topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .container .footer-topnav ul {
    column-gap: unset;
    columns: unset;
    flex: 0 0 33%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  footer .container:last-child {
    flex-direction: column-reverse;
  }

  footer .container:last-child .footer-bottomnav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer .container:last-child span {
    margin-top: 30px;
  }

  .sec14 .items {
    gap: 60px 6%;
    max-width: 576px;
    margin: 0 auto;
    justify-content: unset;
  }

  .sec14 .items .item {
    flex: 0 0 47%;
    max-width: 410px;
  }

  //
}

// 0px - 767px
@media (max-width: 767px) {
  //28.06
  .sec18 .container .item-doc .top-content .doc-name {
    color: var(--black-default, #071027);
    font-size: 16px;
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 700;
    line-height: 24px;
  }

  //28.06
  .sec17 .container .items a {
    border-radius: 12px;
  }

  .sec7 .container .player .txt span {
    font-size: 30px;
    line-height: 35px;
  }

  .sec7 .container .player .txt {
    padding: 20px;
  }

  .sec7 .container .player .txt img {
    display: none;
  }

  .container {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  body,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  //sec8
  .sec8 {
    padding: 50px 0;
  }

  .sec8 .container .courses .item {
    width: 100%;
  }

  .sec8 .container .courses .item:last-child {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont {
    flex-direction: column;
    margin-left: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
    width: 100%;
    align-items: flex-start;
  }

  .sec8 .container .courses .item:first-child .stages .stage:first-child .stage-cont {
    border: 0;
  }

  .sec8 .container .courses .item:first-child {
    padding-right: 0;
  }

  .sec8 .container .courses {
    padding: 20px 15px;
  }

  .sec8 .container .courses .item:first-child .stages .stage {
    align-items: flex-start;
    padding: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    .stage-icon {
      margin-top: 20px;
    }
  }

  .sec8 .container .courses .item:first-child .stages {
    margin-top: 0;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont .stage-txt {
    margin-left: 0;
  }

  .sec8 .container .courses .item:first-child .title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
  }

  .sec8 .container .courses .item:first-child .title h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont a {
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    display: flex;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon {
    position: unset;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:before {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage:not(:last-child) .stage-icon:after {
    height: 55%;
    bottom: -13px;
    z-index: 1;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:after {
    height: 34%;
    bottom: -16px;
  }

  // sec12
  .sec12 .container .text span {
    font-size: 25px;
    line-height: 35px;
  }

  .sec12 .container .text {
    margin-bottom: 25px;
  }

  .sec12 .container .items {
    justify-content: center;
  }

  .sec12 .container .items .item:nth-child(1) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item:nth-child(2) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items {
    gap: 40px 30px;
  }

  .sec12 .container .items .item:nth-child(1) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(2) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(1) {
    flex: 1 0 47.5%;
    max-width: 335px;
  }

  .sec12 .container .items .item:nth-child(2) {
    flex: 1 0 47.5%;
    max-width: 335px;
  }

  .sec12 .container .items .item {
    flex: 1 0 31%;
    max-width: 335px;
  }

  .sec12 .container .sliders {
    margin-top: 25px;
    padding-top: 25px;
  }

  .sec13 .container .title .text p {
    font-size: 25px;
    line-height: 30px;
  }

  //
}

@media (min-width: 320px) and (max-width: 565px) {

  //sec8
  .sec8 {
    padding: 50px 0;
  }

  .sec8 .container .courses .item {
    width: 100%;
  }

  .sec8 .container .courses .item:last-child {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont {
    flex-direction: column;
    margin-left: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
  }

  .sec8 .container .courses .item:first-child .stages .stage:first-child .stage-cont {
    border: 0;
  }

  .sec8 .container .courses .item:first-child {
    padding-right: 0;
  }

  .sec8 .container .courses {
    padding: 20px 15px;
  }

  .sec8 .container .courses .item:first-child .stages .stage {
    align-items: flex-start;
    padding: 0;
    position: relative;

    .stage-icon {
      margin-top: 20px;
    }
  }

  .sec8 .container .courses .item:first-child .stages {
    margin-top: 0;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont .stage-txt {
    margin-left: 0;
  }

  .sec8 .container .courses .item:first-child .title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
  }

  .sec8 .container .courses .item:first-child .title h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-cont a {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    display: flex;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon {
    position: unset;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:before {
    display: none;
  }

  .sec8 .container .courses .item:first-child .stages .stage:not(:last-child) .stage-icon:after {
    height: 62%;
    bottom: -12px;
    z-index: 1;
  }

  .sec8 .container .courses .item:first-child .stages .stage .stage-icon.silver-border:after {
    height: 34%;
    bottom: -16px;
  }

  //
}

@media (min-width: 992px) {
  .sec18 .container .item .table .table-line .line-item .line-title {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  // .help {
  //   display: none;
  // }

  //28.06
  .sec18 {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .sec18 .container .item-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    max-width: unset;
    border-top: 1px solid var(--black-line, #E1E1E1);
    padding: 10px 15px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        text-align: center;
        color: var(--black-70, rgba(30, 31, 36, 0.70));
        text-align: center;
        font-size: 10px;
        font-family: 'Golos Text VF', sans-serif;
        line-height: 10px;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg {
            margin-right: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .sec18 .container {
    flex-direction: column-reverse;
    gap: 25px;

    .item {
      .table {
        background: unset;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .table-name {
          background: transparent;
          padding: 0;
          border-bottom: 0;
        }

        .table-line {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 0;
          border-radius: 12px;
          padding: 15px 20px;

          .line-item {
            flex: 1 0 50%;
            padding: 0;
            gap: 20px 0;

            &:first-child {
              order: -1;
              flex: 0 0 70%;
            }

            &:nth-child(2) {

              p {
                width: unset;

                &:not(:last-child) {
                  margin-right: 5px;
                }
              }
            }

            &:last-child {
              flex: 0 0 25%;
              order: -1;
            }

            .line-title {
              color: var(--black-30, rgba(0, 0, 0, 0.30));
              font-size: 13px;
              line-height: 18px;
              font-family: 'Golos Text VF', sans-serif;
              margin-bottom: 5px;
            }

            p {
              width: 100%;
              padding: 0;
              color: var(--black-default, #071027);
              font-size: 13px;
              font-family: 'Golos Text VF', sans-serif;
              font-weight: 600;
              line-height: 18px;
            }

            &:nth-child(2) {
              margin-top: 15px;
              padding-top: 15px;
              border-top: 1px solid #E1E1E1;
              display: flex;
              width: unset;
            }
          }

        }

        .table-th {
          display: none !important;
        }
      }
    }

    .item-doc {
      max-width: unset;

      .doc-descr {
        display: flex;
        gap: 10px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          width: 1px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
        }

        .doc-stat {
          display: flex;
          gap: 10px;

          &:not(:last-of-type) {
            padding-bottom: 0;
            border-bottom: 0;
          }

          &:not(:first-of-type) {
            padding-top: 0;
          }

          p {
            display: flex;
            flex-direction: column;
            min-width: 160px;
            color: rgba(0, 0, 0, 0.50);
            font-size: 13px;
            font-family: 'Golos Text VF', sans-serif;
            line-height: 18px;
            border-radius: 5px;
            background: var(--white-background, #F4F4F8);
            padding: 10px;
          }
        }
      }

      .top-content {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #E1E1E1;
        margin-bottom: 15px;

        .doc-name {
          margin-bottom: 0;
        }

        .photo {
          width: 30px;
          height: 30px;
          margin: 0;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      a {
        display: none;
      }
    }
  }

  //28.06
  header,
  section,
  footer {
    width: 100% !important;
  }

  .sec7 .container .player .txt span {
    font-size: 25px;
    line-height: 30px;
  }

  //sec1
  .sec1 .container {
    flex-direction: column;
  }

  .sec1 .container .title h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .sec1 .container .texts p {
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  //
  //sec2
  .sec2 .container .cards {
    justify-content: center;
  }

  .sec2 .container .cards .card {
    flex: 0 0 100%;
    max-width: 390px;
  }

  .sec2 .container .cards .card .description .styleBtn-second,
  .sec2 .container .cards .card .description .styleBtn-first {
    width: 100%;
    justify-content: center;
  }

  .sec2 .container .pagination {
    max-width: 294px;
    margin: 0 auto;
  }

  //
  //sec3
  .sec3 {
    padding-bottom: 34px;
  }

  .sec3 .container .items {
    flex-direction: column-reverse;
  }

  .sec3 .container .items .item .title {
    margin-top: 20px;
  }

  .sec3 .container .items .item .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .sec3 .container .items .item .item-content {
    margin-top: 20px;
  }

  .sec3 .container .items .item .item-content a {
    max-width: unset;
  }

  .sec3 .container .items .item .item-content .info-course .info-course__item .info-content {
    font-size: 12px;
  }

  //
  //sec4
  .sec4 {
    padding-top: 50px;
  }

  .sec4 .container .main-content .title h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec4 .container .main-content .txt p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec4 .container .main-content .title {
    margin-bottom: 10px;
  }

  .sec4 .container {
    flex-direction: column;
  }

  .sec4 .container .sidebar {
    padding-left: 0;
    margin-left: 0;
    border: 0;
    max-width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line {
    flex-direction: column;
    height: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line:before {
    top: 23px;
    right: 19px;
    left: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line {
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    height: unset;
    align-items: flex-start;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats {
    max-width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats .balls {
    margin-right: 10px;
  }

  .sec4 .container .courses .accordeon .accordeon__line .stats .balls,
  .sec4 .container .courses .accordeon .accordeon__line .stats .time {
    font-size: 12px;
    line-height: 20px;
    width: unset;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line {
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title {
    width: 100%;
    align-items: flex-start;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .icon {
    min-width: 40px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .line-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .line-title .line-txt span {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #071027;
    margin-bottom: 10px;
  }

  .sec4 .container .courses .accordeon .accordeon__content .content-line .stats {
    display: none;
  }

  .stats .module {
    margin-right: 10px;
  }

  .accordeon__line span .module {
    display: none;
  }

  //
  //sec5
  .sec5 {
    overflow-x: visible;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide {
    position: relative;

    img {
      max-height: 400px;
    }
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content {
    left: 0;
    top: 0;
    padding: 15px;
    max-width: unset;
    transform: unset;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content h2 {
    font-size: 24.6269px;
    line-height: 30px;
  }

  .sec5 .mySwiper .swiper-wrapper .swiper-slide .content a {
    margin-top: 10px;
  }

  //
  //sec6
  .sec6 {
    padding: 50px 0;
  }

  .sec6 .container .title {
    margin-bottom: 20px;
  }

  .sec6 .container .txt p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec6 .container {
    flex-direction: column;
  }

  .sec6 .container .title h1 {
    font-size: 25px;
    line-height: 30px;
  }

  //
  //sec7
  .sec7 .container .player {
    height: 345px;

    img {
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .sec7 {
    padding-bottom: 50px;
  }

  //
  //sec9
  .sec9 {
    padding: 50px 0;
  }

  .sec9 .container .cards .card {
    flex: 0 0 100%;
  }

  .sec9 .container .title h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec9 .container .cards {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    .card {
      padding: 20px;
    }
  }

  .sec9 .container .cards .card .content span {
    font-size: 16px;
    line-height: 20px;
  }

  .sec9 .container .cards .card .content p {
    font-size: 13px;
    line-height: 18px;
  }

  //
  .sec10 {
    overflow-x: visible;
    margin-bottom: 100px;
  }

  .sec10 .container .banner {
    max-height: unset;
  }

  .sec10 .container .banner .content {
    position: unset;
    transform: unset;
    width: unset;
    background: #53b5f5;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 20px 35px 20px;
  }

  .sec10 .container .banner .content span,
  .sec10 .container .banner .content p {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .sec10 .container .banner .content a {
    margin: 30px auto 0;
  }

  // sec11
  .sec11 .container .title_text span {
    font-size: 25px;
    line-height: 30px;
  }

  .sec11 .container .title_text {
    margin-bottom: 24px;
  }

  .sec11 .container .form {
    padding: 20px;
  }

  .sec11 .container .form p {
    margin-bottom: 0;
  }

  .sec11 .container .form :nth-child(3) {
    margin-top: 16px;
  }

  .sec11 .container .form :last-child {
    margin-top: 16px;
  }

  .sec11 .container .form .container_label input:checked~.checkmark {
    margin: 0;
  }

  .sec11 .container .form .checkmark {
    margin: 0;
  }

  // sec12
  .sec12 .container .text span {
    font-size: 25px;
    line-height: 35px;
  }

  .sec12 .container .text {
    margin-bottom: 25px;
  }

  .sec12 .container .items {
    justify-content: center;
  }

  .sec12 .container .items .item:nth-child(1) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item:nth-child(2) p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items {
    gap: 40px 30px;
  }

  .sec12 .container .items .item:nth-child(1) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(2) span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec12 .container .items .item span {
    font-size: 12px;
    line-height: 16px;
  }

  .sec12 .container .items .item:nth-child(1) {
    flex: 1 0 47.5%;
    max-width: 335px;
  }

  .sec12 .container .items .item:nth-child(2) {
    flex: 1 0 47.5%;
    max-width: 335px;
  }

  .sec12 .container .items .item {
    flex: 1 0 31%;
    max-width: 335px;
  }

  .sec12 .container .sliders {
    margin-top: 25px;
    padding-top: 25px;
  }

  // sec13
  .sec13 .container .title .text p {
    font-size: 25px;
    line-height: 30px;
  }

  .sec13 .container .title .title_image img {
    border-radius: 12px;
  }

  .sec13 .container .title .title_time {
    margin-bottom: 20px;
  }

  .sec13 .container .info p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec13 .container .info {
    gap: 20px;
    margin-bottom: 60px;
  }

  .sec13 .container .info ul li {
    padding-bottom: 5px;
  }

  .sec13 .container .info .comment {
    display: unset;
    padding: 30px;
  }

  .sec13 .container .info .big_subtitle span {
    font-size: 20px;
    line-height: 25px;
  }

  .sec13 .container .info .big_subtitle p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec13 .container .info ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .sec13 .container .info .small_subtitle span {
    font-size: 16px;
    line-height: 24px;
  }

  // sec14
  .sec14 {
    padding: 60px 0;
  }

  .sec14 .text span {
    font-size: 25px;
    line-height: 30px;
  }

  .sec14 .items {
    justify-content: center;
    gap: 30px 30px;
  }

  .sec14 .items .item {
    flex: 0 0 100%;
    max-width: 335px;
  }

  .sec14 .items .item p {
    font-size: 16px;
    line-height: 24px;
  }

  .sec14 .items .item span {
    font-size: 14px;
    line-height: 20px;
  }

  // sec15
  .sec15 .container .text span {
    font-size: 25px;
    line-height: 35px;
  }

  .sec15 .container .subtext p {
    font-size: 14px;
    line-height: 20px;
  }

  footer .container:first-child {
    border-top: unset;
  }

  // sec16
  .sec16 {
    margin-bottom: 25px;
  }

  .sec16 .container .text {
    flex-direction: column;
  }

  .sec16 .container .text span {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .sec16 .container .text p {
    font-size: 14px;
    line-height: 20px;
  }

  // sec17
  .sec17 .container {
    margin-top: 25px;
  }

  .sec17 .container .forma form .items .item .custom-select {
    min-width: 270px;
  }

  .sec17 .container .forma form .items button {
    width: 100%;
    padding: 8px;
    max-width: unset;
  }

  .sec17 form {
    width: 100%;
  }

  .sec17 form .items .item {
    width: 100%;
  }

  .sec17 .container .items a {
    flex-wrap: wrap;
  }

  .sec17 .container .items {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .sec17 .container .table {
    display: none;
  }

  .sec17 .container .items a .position {
    display: none;
  }

  .sec17 .container .items a .name {
    order: -1;
    max-width: 80%;
  }

  .sec17 .container .items a .name .supertitle {
    display: flex;
  }

  .sec17 .container .items a .location {
    flex-direction: column;
    padding-top: 15px;
    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
    gap: 10px;
    max-width: 100%;
  }

  .sec17 .container .items a .location .city {
    display: flex;
    max-width: 100%;
  }

  .sec17 .container .items a .location .city .supertitle {
    display: flex;
    width: 25%;
  }

  .sec17 .container .items a .location .mereza {
    display: flex;
    max-width: 100%;
  }

  .sec17 .container .items a .location .mereza .supertitle {
    display: flex;
    width: 25%;
  }

  .sec17 .container .items a .points {
    order: -1;
    max-width: 20%;
    text-align: end;
  }

  .sec17 .container .items a .points .supertitle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  //footer
  footer .container {
    flex-direction: column;
    border-top: 1px solid #e1e1e1;

    &:first-child {
      padding-top: 30px;
    }
  }

  footer .container .logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  footer .container .footer-topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .container .footer-topnav ul {
    column-gap: unset;
    columns: unset;
    flex: 0 0 50%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  footer .container:last-child {
    flex-direction: column-reverse;
  }

  footer .container:last-child .footer-bottomnav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  footer .container:last-child span {
    margin-top: 30px;
  }

  //
  #modal-1 .md-content h4 {
    max-width: 220px;
  }
}